body{
    /* background-color: rgb(0, 0, 0); */
    /* margin: none;
    padding: none; */
    color: white;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-image: url("../IMG_0266.jpg"); */
    background: linear-gradient(-45deg, #000000, #000000, #393b3b, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.a{
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    text-decoration: none;
    position: relative;
}
.a:hover::after{ 
    transform: scaleX(1);
    transform-origin: left;

}
.a::after {
    content: " ";
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}
/* .line{
    border: 1px solid white;
    margin-top: 20rem;
} */
.nav-row{
    
    display: flex;
    flex-direction:row;
    justify-content: end;
    gap: 4rem;
}
header{
    color: white;
    padding-top: 3em;
    font-size: 40px;
}


/* #footer{
    position:absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 100px;
} */
.footer-style{
    position:relative;
    bottom: 0;
    width: 100%;
    height: 2rem;
}
/* .aboutme-row{
    display: flex;
    flex-direction: row;
} */
.aboutme-row-invert{
    display: flex;
    flex-direction: row-reverse;
}
 .fade1 {
    /*background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(0, 0, 0), rgb(219, 207, 152));
  }
  .fade2 {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(69, 69, 70));
  }
  
.border-title {
    width: 30rem;
    font-size: 2rem;
    margin-left: auto;

}
/* .border-title-invert {
    width: 30rem;
    font-size: 2rem;
    margin-left:auto;

} */
.article-border{
    border: .5rem double rgb(203, 196, 196);
    color: white;
    margin-left: 6rem;
    width: 30rem;
    padding: 1em;
    height:min-content;
    
}
.article-border-invert{
    border: .5rem double rgb(203, 196, 196);
    color: white;
    margin-right: 4rem;
    width: 30rem;
    padding: 1em;
    height: min-content;
    
}
.image-pad{
    padding-left: 6rem;
    margin-left: 9rem;
}
.image-pad-invert{
    padding-right: 6rem;
    margin-left: 9rem;
}
.img-radius{
    border-radius: 50%;
}
/* #img2{
    border-radius: 50%;
} */
.title{
    text-align: center;
    font-size: 100px;
}
.title-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    height: 250px;
    border-radius: 50%;
    margin-top: 10em;
    margin-bottom: none;
    align-items:baseline;

}
.title-row{
    display: flex;
    flex-direction: row;
   
}
.about-me-header{
    /* color: white; */
    padding-top: 2em;
    margin-left: 6rem;
    font-size: 6rem;
}
.about-me-name {
    margin-left: 6rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color:antiquewhite;
  }
  .about-me-text {
      /* border: 2px solid rgb(160, 159, 158); */
      font-size: 20px;
      width: 500px;
      margin-left: 100px;
      
  }
  .about-me-img {
    margin-left: 6rem;
    margin-top: 12rem;
  }


  .center {
       display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .myjourney-text {
    border: .5rem double rgb(160, 159, 158);
    font-size: 20px;
    width: 56rem;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    
}

.none{
    text-decoration: none;
}
.none:hover {
    text-decoration: underline;
}


